h1{
    font-family: "Darumadrop One", verdana, arial;
}
p{
    font-family: "Darumadrop One", "lucida console", "courier new";
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}
